.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
*.iml
.idea/
.vscode/
